*~
auto-save-list
org-*
org-roam.db
org-persist
dist
eshell
eln-cache
elpaca
elpa
all
recentf
projects
places
projectile-bookmarks.eld
emacs-backtrace.txt
..emacs.d-*
.cache
site-lsp
auto-save-list
.lsp*
server
ido*
ido.last