!./wsl-t.el
!./org.el
!./customs.el
!./early-init.el
!./init.el

!./project-todo.org
!./hosts.org
!./windows.org
!./README.org

!./snippets/*
!./hunspell/*
!./org-latex-classes/*

!./.gitmodules
!./.gitignore

*~
all
auto-save-list
bookmarks
backups
dist
eshell
eln-cache
emacs-backtrace.txt
elpaca
elpa
.org-id-locations
org-*
org-roam.db
org-persist
recentf
.project
projects
projects.eld
places
projectile-bookmarks.eld
project-window-list
emacs-backtrace.txt
..emacs.d-*
.cache
site-lsp
sit-lsp/*
auto-save-list
.lsp*
server
ido*
ido.last
transient
tramp
tree-sitter/*
